#pez-widget-container {
  z-index: 99999;
  position: fixed;
  bottom: 0;
  right: 30px;
  text-align: center;
  font-size: 14px;
  font-family: Arial;
  width: 330px;
  color: #000;
}
#pez-widget-chatbox {
  max-width: 300px;
  width: 100%;
  height: auto;
  border: 5px solid white;
  border-radius: 10px 10px 0 0;
  border-width: 5px 5px 0 5px;
  text-align: left;
  background: white;
}
#pez-widget-chatbox .chatbox-inner {
  position: relative;
}
#pez-widget-form {
  position: absolute;
  width: 100%;
  background: white;
  height: 350px;
}
#pez-widget-form .label {
  
}
#pez-widget-form .input-holder {
  width: 100%;
  margin: 5px 0 0;
  padding: 0;
  height: 30px;
  border: 1px solid #555;
  border-radius: 5px;
  overflow: hidden;
}
#pez-widget-form input[type="text"],
#pez-widget-form textarea {
  border: none;
  font-family: Arial;
  font-size: 14px;
  line-height: 30px;
  padding: 0 0 0 5px;
  width: 100%;
  height: 30px;
  margin: 0;
  background: none;
}
#pez-widget-form .field-question .input-holder {
  height: 80px;
}
#pez-widget-form textarea {
  width: 98%;
  height: 80px;
  line-height: 20px;
}
#pez-widget-form .field {
  margin: 0 10px;
  padding-top: 20px;
}
#pez-widget-form .field-name {
  width: 130px;
  float: left;
}
#pez-widget-form .field-email {
  width: 130px;
  float:right;
}s
#pez-widget-form .field-phone {
  width: 280px;
  clear: both;
}
#pez-widget-form .field-phone {
  width: 280px;
  clear: both;
}
#pez-widget-form-button {
  height: 40px;
  border: 1px solid #1a60a3;
  border-radius: 5px;
  cursor: pointer;
  background: #1a60a3;
  color: white;
}
#pez-widget-form-button:hover {
    background: #3fabef;
  border-color: #3fabef;
}
#pez-widget-messages-area {
    width: 100%;
    height: 350px;
    overflow: auto;
  background: #efefef;
  border-radius: 0 0 5px 5px;
}
#pez-widget-messages-area-inner {
  padding: 20px;
}
#pez-widget-chatbox .message {
    width: 100%;
   height: 50px;
}
#pez-widget-chatbox .message .info {
    width: 20%;
    float: left;
  text-align: center;
}
#pez-widget-chatbox .message img {
    width: 80%;
    margin-bottom: 5px;
   
}
#pez-widget-chatbox .message .name {
  text-align: center;
  font-size: smaller;
}
#pez-widget-chatbox .message .text {
  width: 70%;
  float: right;
  background: white;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
}
#pez-widget-chatbox .message .text em {
  font-style: normal;
  font-size: smaller;
  display: block;
  color: #999;
  text-align: right;
}
#pez-widget-chatbox .divider {
  clear: both;
  margin-bottom: 20px;
}
#pez-widget-chatbox .message.server .text {
 float: left;
}
#pez-widget-chatbox .message.server .info {
  float: right;
}
#pez-widget-chatbox .message.server .text em {
  text-align: left;
  padding-top: 5px;
}
#pez-widget-input-area {
  height: 50px;
  background: white;
  padding-top: 5px;
  display: none;
}

#pez-widget-input-area .inner {
  padding: 0;
}
#pez-widget-message {
  width: 70%;
  height: 40px;
  border: 1px solid #a6a8ab;
  border-radius: 5px;
  padding: 0 10px;
}
#pez-widget-send-button {
  height: 40px;
  width: 19%;
  float: right;
  border: 1px solid #1a60a3;
  border-radius: 5px;
  cursor: pointer;
  background: #1a60a3;
  color: white;
}
#pez-widget-send-button:hover {
    background: #3fabef;
  border-color: #3fabef;
  
}
#pez-widget-launcher {
  height: 30px;
  color: white;
  background: #1a60a3;
  line-height: 30px;
  text-align: right;
  cursor: pointer;
  border-radius: 5px 5px 0 0
}
#pez-widget-launcher img {
  height: 15px;
  line-height: 40px;
  margin: 0;
  display: inline-block;
}
#pez-widget-launcher:hover {
    color: #ddd;
  background: #3fabef;
}
#pez-widget-launcher.closed:hover {
  color: yellow;
}
#pez-widget-launcher span {
    padding-right: 10px;
}  
#pez-widget-collapsible {
  height: 440px;
  overflow: hidden;
}
.slide-up, .slide-down {
    max-height: 0;            
    overflow-y: hidden;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}
.slide-up {            
    max-height: 440px;
}

.speech-bubble {
    position: relative;
    padding: 15px;
    margin: 1em auto 2em;
    color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    width: 60%;
}
.speech-bubble::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50px;
    border-width: 20px 0 0 20px;
    border-style: solid;
    border-color: #075698 transparent;
    display: block;
    width: 0;

}
.unread {
  font-weight: bold;
  color: yellow;
}
.shadow {
  -webkit-box-shadow: -3px 5px 15px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: -3px 5px 15px 0px rgba(0,0,0,0.3);
  box-shadow: -3px 5px 15px 0px rgba(0,0,0,0.3);
}
.gradient {
  background: #075698;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
  background: -moz-linear-gradient(#2e88c4, #075698);
  background: -o-linear-gradient(#2e88c4, #075698);
  background: linear-gradient(#2e88c4, #075698);
}

#pez-widget-chatbox .message .text .preview .image img {
  width: 100%;
  border-radius: 10px;
  border: 0;
  margin-bottom: 10px;
}

#pez-widget-chatbox .message .text .preview .title {
  font-weight: bold;
  margin-bottom: 5px;
}

#pez-widget-chatbox .message .text .preview .descp {
  font-size: 12px;
  margin-bottom: 10px;
}

#pez-widget-chatbox .message .text .preview .url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}
#pez-widget-chatbox .message .text a,
#pez-widget-chatbox .message .text a:hover,
#pez-widget-chatbox .message .text a:visited {
  font-size: 13px;
  color: #555;
}
#pez-widget-chatbox .message .text .preview .title a,
#pez-widget-chatbox .message .text .preview .title a:hover,
#pez-widget-chatbox .message .text .preview .title a:visited {
  text-decoration: none;
  color: #1a60a3;
}

#pez-widget-chatbox .message .text .preview .spinner {
  text-align: center;
}
#pez-widget-chatbox .message .text .preview .spinner img {
  width: 95px;
  height: auto;
}