<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB Widget POC</title>
    <style>
    /*
    body {
    	background: transparent url(/clients/fundko-bg.png) no-repeat;
        background-size: cover;
    }
    */
    </style>
</head>
<body>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac ipsum aliquam, posuere leo sed, feugiat leo. Aliquam commodo, arcu nec laoreet imperdiet, metus lorem tristique turpis, sed rutrum mi nisl eu elit. Nullam quis tristique sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam accumsan nibh placerat dolor tincidunt, nec pharetra erat commodo. Aenean vel mi vel risus tincidunt dictum. Aenean vel hendrerit elit, quis condimentum lectus. Pellentesque convallis nulla quis turpis pharetra, nec euismod eros pharetra. Donec eget ipsum lobortis, imperdiet tortor in, lacinia nulla. Nunc vestibulum ipsum eu diam consectetur, sit amet semper mauris laoreet. Duis rutrum risus sed justo varius varius. Aliquam eu volutpat nunc.</p>

    <p>Suspendisse aliquet dictum nunc, sit amet imperdiet tortor mattis sed. Suspendisse est lacus, pulvinar non molestie nec, elementum eget tellus. Quisque efficitur dolor mi, consectetur dapibus odio tincidunt eget. Phasellus sodales tellus ac metus lobortis, eget sagittis tellus imperdiet. Duis eleifend lorem sed vehicula tincidunt. Fusce eleifend sapien eget feugiat semper. Quisque eget faucibus mi. Integer hendrerit blandit ipsum eget ultrices. Phasellus et mollis nibh. Nulla vel nisl viverra sem facilisis volutpat. Maecenas eu nulla orci. In placerat hendrerit lacus sed iaculis. Integer vitae dictum dolor.</p>

    <p>Aliquam nisi ex, luctus nec suscipit ac, varius non sem. In a placerat ipsum. Aenean placerat elementum molestie. Duis elit diam, dictum vel facilisis id, mollis sed risus. Morbi pharetra est sit amet dui maximus eleifend. Suspendisse non tellus non risus dictum rutrum. Fusce vitae turpis consectetur, hendrerit ex in, sodales mi. Praesent imperdiet vel est ut fringilla. Pellentesque a justo eget odio sollicitudin accumsan sit amet a lacus. Suspendisse dapibus purus sed porttitor congue. Aenean scelerisque finibus lorem, scelerisque imperdiet lectus vestibulum pellentesque. Etiam vitae mi nisi. Vivamus ante est, ullamcorper ac massa at, sagittis faucibus diam. Nunc sit amet odio enim. Nullam et accumsan massa. Donec maximus enim quis eros finibus fermentum.</p>

    <p>Nunc tristique ultricies vehicula. Ut euismod congue quam vitae mattis. Quisque tincidunt tincidunt elementum. Integer sapien enim, tincidunt et nulla eu, iaculis vestibulum metus. Sed augue nulla, luctus pharetra turpis non, varius aliquam magna. Duis ornare, odio et commodo semper, ex tellus lobortis libero, id egestas ligula augue ac risus. Cras faucibus eu turpis ac tincidunt.</p>

    <p>In blandit malesuada ex eget mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac nisi metus. Pellentesque semper, lacus quis dictum ultricies, mi nibh malesuada erat, quis auctor turpis felis ac ligula. In nec nibh at mi imperdiet fringilla. Curabitur sed luctus ante. Morbi porttitor, felis vitae tempus rutrum, est ligula dignissim justo, at fringilla metus magna ac massa. Curabitur a elit quam. Etiam cursus imperdiet sodales. Fusce justo augue, mattis quis malesuada tempor, placerat a libero. Aenean eget augue nunc. Nullam semper felis eget blandit fringilla. Etiam ligula ex, gravida ac laoreet nec, mollis suscipit arcu. Fusce varius purus gravida, lobortis turpis eget, tempus ante. </p>

    <script src="{{ url }}js/pez_widget{{ dotmin }}.js" id="pez-widget-embed" 
    	data-apikey="s0A1m2P3l4e5K6e7T" 
    	data-client="fundko" 
        data-window-state="open"
        data-title="FundKo" 
        data-slogan="This is a test" 
        data-message="Hi!" 
        data-bubbletext="Talk to Fundko!" 
        data-prechat="true" 
        data-prechat-email="true" 
        data-prechat-phone="true" 
        data-prechat-question="true" 
        data-bgcolor="#000"  
        data-fgcolor="#fff"
        data-avatar=""
    ></script>

</body>
</html>
