<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB Widget POC</title>
    <style>
    body {
    	background: transparent url(/clients/fundko-bg.png) no-repeat;
        background-size: cover;
    }
    </style>
</head>
<body>

    <script src="{{ url }}js/pez_widget{{ dotmin }}.js" id="pez-widget-embed" 
    	data-apikey="s0A1m2P3l4e5K6e7T" 
    	data-client="fundko" 
        data-window-state="open"
        data-title="FundKo" 
        data-slogan="This is a test" 
        data-message="Hi!" 
        data-bubbletext="Talk to Fundko!" 
        data-prechat="true" 
        data-prechat-email="true" 
        data-prechat-phone="true" 
        data-prechat-question="true" 
        data-bgcolor="#000"  
        data-fgcolor="#fff"
        data-avatar=""
    ></script>

</body>
</html>
